body{
	margin: 0;
	color: white;
	background: black;
	font-family: Tahoma, Segoe UI;
	user-select:none;
}
*
{
	cursor: var(--cursor-default);
}
:root
{
	--cursor-default: url("assets/cursor/default.cur"), auto;
	--cursor-busy: busy;
	--cursor-wait: wait;
	--cursor-pointer: pointer;
}
input{
	outline:0;
	font-family: Tahoma, Segoe UI;
	padding:5px 8px;
}
button{
	font-family: Tahoma, Segoe UI;
	background: linear-gradient(#fff, #fafafa);
	padding: 4px 7px;
	min-width: 70px;
	border: 2px solid #eee;
	border-radius: 3px;
	outline:none;
	margin: 0 2px;
}
button:hover{
	background: linear-gradient(#fafafa, #ebebeb);
}
button:active{
	background: linear-gradient(#d4e5ff, #bfdfff);
	border: 2px solid #86c2ff;
}
button:focus{
	border: 2px solid #86c2ff;
}
.hidden{
	display:none !important;
}
#bsod{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:#0100ab;
	font-family:consolas, monospace;
	cursor:none;
	color:white;
}
#oops{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:#0100ab;
	font-family:consolas, monospace;
	display:none;
	color:white;
	text-align:center;
}
#desktop{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-image: url(https://4.bp.blogspot.com/--d5zc607eDY/X_bEMDiT3aI/AAAAAAAAyoo/9wtyRUJwT0sS1E8gJ8b2xt-a6GJZZIgDACK4BGAYYCw/s1600/Wallpaper.png);
	background-size: cover;
	background-position: center;
}
.icons{
	position:fixed;
	top:0;
	left:0;
	bottom:42px;
	right:0;
	margin:5px;
	display:flex
}
.app_icon{
	display: block;
	font-size: 13px;
	outline:none;
	margin: 20px 3px 30px;
	text-align:center;
	vertical-align:top;
	width:90px;
}
.app_icon img{
	width:50px;
	height:50px;
	display: block;
	margin: 0 auto 10px;
	position:relative;
	object-fit:contain;
}
.app_icon:focus img{
	filter: sepia(100%) hue-rotate(190deg) saturate(15);
}
.app_icon div{
	max-width: 90px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: 0 0 2px black;
}
.app_icon:focus div{
	background: #0050cd;
	color: white;
	display: inline-block;
	overflow: unset;
	white-space: normal;
}
.drive_icon{
	display: inline-block;
	font-size: 18px;
	outline:none;
	margin: 10px 3px;;
	text-align:center;
}
.drive_icon img{
	width:50px;
	height:50px;
	display: inline-block;
	position:relative;
	object-fit:contain;
}
.drive_icon:focus img{
	filter: sepia(100%) hue-rotate(190deg) saturate(15);
}
.drive_icon div{
	display: inline-block;
	position: relative;
	top: -18px;
	left: 10px;
}
.drive_icon:focus div{
	background: #0050cd;
	color: white;
	display: inline-block;
}
apps{
	z-index: 30;
	transform: translate3d(0,0,0);
	display:block
}
.taskbar{
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	background:linear-gradient(#005aff, #003aa3 30%);
	height: 40px;
	border-top:4px solid black;
	z-index: 50;
}
.taskbar .start_button{
	position: absolute;
	top: 0;
	bottom:0;
	left:0;
	background:linear-gradient(#43d91d, #2c9a10 30%);
	width:150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right:4px solid black;
}
.taskbar .start_button img{
	width: 70%
}
.taskbar .start_button:hover, .light:hover{
	filter: brightness(1.1);
}
.taskbar .start_button:active, .light:active{
	filter: brightness(1);
	background:linear-gradient(#0b3500, #187400 30%);
}
.taskbar .notification{
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	padding: 0 10px;
	background:linear-gradient(#67d0ff, #2196F3 30%);
	border-left:4px solid black;
}
.taskbar .notification img{
	width: 20px;
	height: 20px;
	position: relative;
	top: 4px;
	margin: 0 1px;
	object-fit:contain;
}
.taskbar .notification .time{
	position:relative;
	top:0;
	display:inline-block;
	margin:10px;
	font-size:15px
}
.taskbar .applications{
	top: 0;
	bottom: 0;
	left: 155px;
	right: 250px;
	position: absolute;
}
.taskbar .applications .app_list{
	padding: 9.5px 10px;
	width:150px;
	display: inline-block;
	font-size: 14px;
	background: linear-gradient(#6198ff, #0057f6);
	border: 1px solid #0052ed;
	border-radius: 3px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.taskbar .applications .app_list:hover{
	filter: brightness(1.1);
}
.taskbar .applications .app_list:active, .taskbar .applications .app_list.focused{
	filter: brightness(1);
	background: linear-gradient(#003dae, #0057f6);
}
.start{
	position:absolute;
	display:flex;
	bottom:45px;
	width:350px;
	height:405px;
	background:#efefef;
	border-top: 4px solid black;
	border-right: 4px solid black;
	transform:translateY(105%);
	z-index:49;
}
.start.opened{
	transform:none;
	transition: 0.3s linear;
}
.start .brand{
	height: calc(100% - 40px);
	background: linear-gradient(45deg, black, blue, black 130%);
	padding: 20px 10px;
	transform: rotate(180deg);
	writing-mode: vertical-lr;
	font-size: 25px;
	border-left: 4px solid black;
}
.start .menulist{
	width: 100%;
	background:#efefef;
	outline: 4px solid black;
}
.start .menulist div{
	color: black;
	padding: 15px 10px 15px 70px;
	font-size: 23px;
	position:relative;
}
.start .menulist div:hover, .start .menulist div[bercabang] section article:hover{
	background: #ccc;
}
.start .menulist div:active, .start .menulist div[bercabang] section article:active{
	background: #bbb;
}
.start .menulist div[bercabang]:after{
	content: '';
	display: block;
	border-top: 3px solid black;
	border-right: 3px solid black;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	position: absolute;
	right: 25px;
	top: 22px;
}
.start .menulist div img{    
	width: 40px;
	height: 40px;
	position: absolute;
	left: 15px;
	top: 10px;
	object-fit: contain;
}
.start .menulist div[bercabang] section{
	position:absolute;
	top:0;
	left:297px;
	background:#efefef;
	border: 4px solid black;
	display:none;
	z-index: -1;
}
.start .menulist div[bercabang]:hover section{
	display:block;
	animation: 0.3s linear menulistIn;
}
@keyframes menulistIn{
	from{ transform: translateX(-100%) }
	to{ transform: none }
}
.start .menulist div[bercabang] section article{
	width: 200px;
	padding: 15px 20px 15px 60px;
	font-size: 16px;
	position:relative;
}
.start .menulist div[bercabang] section article img{
	width: 30px;
	height: 30px;
}
.turnoff_dialog{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,.5);
	opacity:0;
	pointer-events:none;
}
.turnoff_dialog.opened{
	opacity:1;
	pointer-events:all;
	cursor: var(--cursor-wait);
	z-index:100;
}
.turnoff_dialog.transparent{
	background:transparent;
	cursor: var(--cursor-default);
}

dialog:not([open]){
	display:none;
}
dialog, section.app{
	background: linear-gradient(#387eff, #0054eb 10px);
	position: fixed;
	padding: 0 5px 5px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
	border:2px solid black;
	margin:0;
}
dialog{
	width: max-content;
	max-width: 400px;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%,-50%);
}
section.app{
	top: calc(50vh - 250px - 42px);
	left: calc(50vw - 375px);
	width: 750px;
	display:none;
}
section.app.opened{
	display:block
}
section.app.opened.indexed{
	z-index:999
}
dialog header, section.app header{
	padding: 10px 7px;
	color: white;
	font-size: 16px;
}
dialog header img, section.app header img{
	width: 28px;
	position: absolute;
	top: 5px;
}
.close{
	right: 7px;
}
.maximize, .restore{
	right: 39px;
}
.minimize{
	right: 71px;
}
dialog header img:hover, section.app header img:hover{
	filter:brightness(1.1);
}
dialog header img:active, section.app header img:active{
	filter:brightness(0.9);
}
section.app.opened:not(.indexed) header{
	opacity: 0.5
}
dialog article, section.app article{
	background: white;
	color: black;
	font-size:16px;
	outline:2px solid black
}
dialog article{
	padding: 20px;
	height: unset !important;
}
dialog article .info{
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 35px auto;
	gap: 20px;
}
dialog article .buttons{
	padding-top: 15px;
	text-align: center;
}
dialog article img{
	width: 35px;
	height: 35px;
}
section.app article{
	height:500px
}
section.app article [name]{
	display:none
}
section.app article .opened[name]{
	display:block
}

.tooltip{
	position: fixed;
	padding: 2px 4px;
	background: #fff0dd;
	border: 1px solid black;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
	color: black;
	font-size: 12px;
	pointer-events:none;
	opacity:0;
	transition:0.15s ease-in-out opacity;
	max-width: 350px;
}
.tooltip.show{
	opacity:1
}

.glow-bottom:after{
	content:'';
	position:absolute;
	bottom:0;
	right: 0;
	left: 0;
	height: 3px;
	background: linear-gradient(45deg, transparent, white, transparent);
}

#wiperblade{
	position:fixed;
	bottom:-15px;
	left:0;
	right:0;
}
#wiperblade img{
	position:absolute;
	height:calc(100vh + 10px);
	bottom: 0;
	transform: rotate(90deg);
	animation: 3s linear wiperblade;
	transform-origin: left bottom;
}
#wiperblade img:last-child{
	left: 50vw;
}

#ms-explorer dialog[name=dialog2] .buttons button:first-child{
	transition: 0.05s linear;
	background: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250)) !important;
	border: 2px solid rgb(238, 238, 238) !important;
	position: relative;
}

@keyframes wiperblade{
	0% { transform: rotate(90deg) }
	30% { transform: rotate(0) }
	70% { transform: rotate(0) }
	100% { transform: rotate(90deg) }
}

@media screen and (max-width: 799px), (max-height: 599px){				
	#oops{
		display:block;
	}
}