<section class='titlebar'>
	<img class='icon' src='<#? appicon ?#>'/>
	<span class='name'><#? apptitle ?#><span>Admin</span></span>
</section>
<section class='root'>
	<section class='sidebar'>
		<section class='sidebar-inside'>
			<span class='actions'>
				<a class='hamburger'>
					<span class='icon'>&#xE700;</span>
				</a>
				<a class='back hidden'>
					<span class='icon'>&#xE72B;</span>
				</a>
			</span>
			<span class='navigations'>
				<#? navigation ?#>
			</span> 
		</section>
	</section>
	<section class='main'>
		<div class='progressbar' id='MainLoading'></div>
		<div class='maininternal opened'>
			<#? content ?#>
		</div>
	</section>
	<script src='/admin.js' id='admin_js'></script>
</section>