 <meta charset='UTF-8'/> 
 <meta content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no' name='viewport'/> 
 <meta content='#000000' ad-theme-color name='theme-color'> 
 <meta content='#000000' ad-theme-color name='apple-mobile-web-app-status-bar-style'> 
 <link rel='stylesheet' type='text/css' href='https://ui.agapedimas.repl.co/style.css'/> 
 <link rel='stylesheet' type='text/css' href='/admin.css'/> 
 <link rel='icon' href='<#? appicon ?#>'/> 
 <link rel='manifest' href='/admin/manifest.json'> 
 <title ad-app-title='<#? apptitle ?#>'><#? apptitle ?#></title> 
 <script id='adux_js'>const ADUX = { homepage: '<#? apphomepage ?#>' }</script> 
 <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script> 
 <script src='https://ui.agapedimas.repl.co/head.js' id='head_js'></script> 