<meta charset='UTF-8'/>
<meta content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no' name='viewport'/>
<link rel='stylesheet' type='text/css' href='/style.css'/>
<link rel='icon' href='<#? appicon ?#>'/>
<title ad-app-title='<#? apptitle ?#>'><#? apptitle ?#></title>
<script id='adux_js'>const ADUX = { homepage: '<#? apphomepage ?#>' }; localStorage.setItem("theme", "dark");</script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://ui.agapedimas.repl.co/head.js' id='head_js'></script>