<a goto='profile' ad-tooltip="Profil">
	<span class='icon blank'>&#xe77b;</span>
	<span class='icon fill'>&#xecfc;</span>
</a>
<a goto='projects' ad-tooltip="Karya">
	<span class='icon blank'>&#xea86;</span>
	<span class='icon fill'>&#xed29;</span>
</a>
<a goto='favorites' ad-tooltip="Favorit">
	<span class='icon blank'>&#xe734;</span>
	<span class='icon fill'>&#xeed4;</span>
</a>
<a goto='journal' ad-tooltip="Jurnal dan Kesan">
	<span class='icon blank'>&#xe8bd;</span>
	<span class='icon fill'>&#xea8c;</span>
</a>
<a goto='games' ad-tooltip="Games">
	<span class='icon blank'>&#xe7fc;</span>
	<span class='icon fill'>&#xec93;</span>
</a>