<a goto='admin/profile'>
	<span class='icon'>&#xe77b;</span>
	<span>Profile</span>
</a>
<a goto='admin/projects'>
	<span class='icon'>&#xea86;</span>
	<span>Projects</span>
</a>
<a goto='admin/favorites'>
	<span class='icon'>&#xe734;</span>
	<span>Favorites</span>
</a>
<a goto='admin/journal'>
	<span class='icon'>&#xe8f1;</span>
	<span>Journal</span>
</a>
<a goto='admin/messages'>
	<span class='icon'>&#xe8bd;</span>
	<span>Messages</span>
</a>
<a goto='admin/games'>
	<span class='icon'>&#xe7fc;</span>
	<span>Games</span>
</a>
<a goto='admin/tools'>
	<span class='icon'>&#xec7a;</span>
	<span>Tools</span>
</a>
<a goto='admin/settings'>
	<span class='icon'>&#xe713;</span>
	<span>Settings</span>
</a>