.sidebar .navigations a[goto="settings"], .sidebar .navigations a[goto="admin/settings"], .sidebar .navigations a[goto="admin/tools"] 
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.sidebar .navigations a[goto="admin/tools"] 
{
	bottom: 2.7em;
}
.section
{
	transform: scale(1);
}

.maininternal 
{
	padding: 30px 30px 0 30px;  
	height: calc(100% - 30px);
}

.pivot
{
	height: calc(100% - 42px);  
}
	.pivot .pivotcontent
	{
		padding: 0;
	}

:not(.pivot) .subheader
{
	opacity: 0;
}

@media screen and (max-width: 425px)
{
	.maininternal 
	{
		padding: 20px 20px 0 20px;    
		height: calc(100% - 20px);
	}
	.pivot
	{
		height: calc(100% - 47px);  
	}
}

.editor
{
	display: flex;
	flex-direction: column;
	padding: 8px 30px 0 30px;
	gap: 8px;
	height: calc(100% - 45px);
}
	.editor textarea
	{
		height: 100%;
		font-size: 14px;
		line-height: 1.5;
		resize: none;
		font-family: "Cascadia Mono", "Courier New bold", monospace;
	}
.preview
{
	display: flex;
	flex-flow: column;    
	margin: 0 30px;
}
	.preview .object
	{  
		display: flex;
		margin: 5px 0;
		overflow: hidden;
		position: relative;
		flex-direction: column;
		background: var(--background-expander-arrow-hover);
		border-radius: 10px;
		padding: 10px 15px;
	}
	.preview .object:not(.plain-value)
	{  
		animation: var(--animation-game) listIn;
	}
		.preview .object .key
		{
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: calc(100% - ((25px + 10px) * 2)) auto;
			font-family: var(--font-semibold);
			border-radius: 8px;
			font-size: 17px;
			gap: 10px;
		}
			.preview .object .key input.rename
			{
				--background-input: transparent;
				--border-input: transparent;
				--border-input-bottom: transparent;
				border: 0px !important;
				margin: -5px 8px -5px -8px;
				padding: 5.5px 10px 6.5px !important;
			}
			.preview .object .key .collapse
			{
				display: flex;
				width: 25px;
				height: 25px;
				margin: 0;
				border-radius: 5px;
				align-items: center;
				justify-content: center;
				transition: 0.25s color, 0.25s background;
			}
			.preview .object .key .collapse:hover
			{
				background: var(--background-input-hover);
			}
			.preview .object .key .collapse:active
			{
				background: var(--background-input-active);
				color: var(--foreground-input-active);
			}
				.preview .object .key .collapse:before
				{
					content: "\e70d";
					font-family: var(--font-icon);
				}
				.preview .object[isExpanded="true"]>.key .collapse:before
				{
					content: "\e70e";
					font-family: var(--font-icon);
				}
			.preview .object .key .action
			{
				display: flex;
				width: 25px;
				height: 25px;
				margin: 0;
				border-radius: 5px;
				align-items: center;
				justify-content: center;
				transition: 0.25s color, 0.25s background;
			}
			.preview .object .key .action:hover
			{
				background: var(--background-input-hover);
			}
			.preview .object .key .action:active
			{
				background: var(--background-input-active);
				color: var(--foreground-input-active);
			}
				.preview .object .key .action:before
				{
					content: "\e712";
					font-family: var(--font-icon);
				}
		.preview .object .value
		{
			visibility: hidden;
			height: 0;    
			margin: 0 0 0;
		}
		.preview .object[isExpanded="true"]>.value
		{
			visibility: visible;
			height: 100%;    
			margin: 8px 0 0;
		}
			.preview .object .value textarea
			{
				--height: 35px;
				display: block;
				width: calc(100% + 30px);
				border: none !important;
				padding: 7px 10px !important;
				margin: 0 -15px;
				border-radius: 0;
				resize: none;
				min-height: 100%;
				height: var(--height);
				max-height: 300px;
			}

	.preview .object.plain-value { width: 235px }
	.preview .object.plain-value[key=date] { width: 125px }
	.preview .object.plain-value[key=id] { width: 110px }
	.preview .object.plain-value[key=name] { width: 150px }
	.preview .object.plain-value[key=rate] { width: 85px }
		.preview .object.plain-value > .key
		{
			grid-auto-columns: calc(100% - ((25px + 10px) * 1)) auto
		}
		.preview .object.plain-value > .value
		{    
			height: 100%;
			visibility: visible;
			margin: 8px 0 -10px 0;
		}

	.preview .object.child-plain-value
	{
		display: grid;
		grid-auto-flow: column;    
		grid-auto-columns: 208px auto;
		min-height: 77px;
		padding: 0;
		background: var(--background-dialog);
		margin: 0 -15px;
		border-radius: 0;    
		border-top: 1px solid var(--border-dialog);
	}
	.preview .object.child-plain-value:nth-last-child(1)
	{
		margin: 0 -15px -10px -15px;
	}
		.preview .object.child-plain-value > .key
		{
			background: var(--background-main);
			grid-auto-flow: row;
			grid-auto-columns: 100%;
			grid-auto-rows: max-content;
			justify-items: center;
			align-content: center;
			border-radius: 0;
			width: 178px;
			padding: 15px;
			border-right: 1px solid var(--border-context);
		}
			.preview .object.child-plain-value > .key .name
			{
				font-size: 25px;
				display: flex;
				font-family: var(--font-bold);
				justify-content: center;
				line-height: 1;
				height: 100%;
			}
			.preview .object.child-plain-value > .key .thumbnail
			{
				position: relative;
				width: 100%;
				height: 100px;
				background: var(--overlay-active);
				border-radius: 8px;
				overflow: hidden;
			}
			.preview .object.child-plain-value > .key .thumbnail[disabled]
			{   
				opacity: 0.5;
				pointer-events: none;
			}
				.preview .object.child-plain-value > .key .thumbnail img
				{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transition: 0.25s opacity;
				}
				.preview .object.child-plain-value > .key .thumbnail:hover img
				{
					opacity: 0.6;
				}
				.preview .object.child-plain-value > .key .thumbnail:active img
				{
					opacity: 0.5;
				}
					.preview .object.child-plain-value > .key .thumbnail:after
					{
						content: "\e8b9";
						font-family: var(--font-icon);
						display: flex;
						background: transparent;
						color: transparent;
						position: absolute;
						top: 0;
						left: 0;
						bottom: 0;
						right: 0;
						align-items: center;
						justify-content: center;
						transition: 0.25s background, 0.25s color;
					}
					.preview .object.child-plain-value > .key .thumbnail:hover:after
					{
						background: var(--background-input-hover);
						color: var(--text);
					}
					.preview .object.child-plain-value > .key .thumbnail:active:after
					{
						background: var(--background-input-active);
						color: var(--foreground-input-active);
					}
		.preview .object.child-plain-value > .value
		{
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: min-content;
			gap: 10px;
			overflow: auto;
			--scrollbar-width: 0;
			padding: 0 10px;    
		}
		.preview .object [isExpanded="true"] > .value .object.child-plain-value > .value
		{
			height: 100%;
			visibility: visible;
		}
			.preview .object.child-plain-value > .value .object
			{
				margin: 8px 0;
			}

@media screen and (max-width: 950px)
{
	.preview .object.child-plain-value
	{
		grid-auto-flow: row;
		grid-auto-columns: auto;
	}
	.preview .object.child-plain-value > .key
	{    
		grid-auto-flow: column;
		grid-auto-columns: max-content auto 178px;
		width: calc(100% - 30px);
		justify-items: end;
	}
}

#Input_Thumbnail
{
	display: none;
}