@import url("https://ui.agapedimas.repl.co/fonts/font_SegoeUIVariable.css");
html
{
	background: var(--darkest);  
	color: var(--text);
	font-family: var(--font-normal);
	font-size: 0.9rem;
	overflow-wrap: break-word;
	word-break: break-word;
}

*
{
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar 
{
	width: var(--scrollbar-width);
	height: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb
{
	background: transparent;
	border-radius: 100px;
	border: var(--scrollbar-border) solid transparent;
	background-clip: padding-box;
}

:hover::-webkit-scrollbar-thumb,
:active::-webkit-scrollbar-thumb
{
	background: var(--scrollbar-thumb);
	border-radius: 100px;
	border: var(--scrollbar-border) solid transparent;
	border-width: 7px 5.5px 5.5px 7px;
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb:hover {	border-width: var(--scrollbar-border); background: var(--scrollbar-thumb-hover); background-clip: padding-box; }
::-webkit-scrollbar-thumb:active { border-width: var(--scrollbar-border); background: var(--scrollbar-thumb-active); background-clip: padding-box; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-corner {	background: transparent }


:root 
{
	--scrollbar-width: 15px;
	--scrollbar-border: 5px;

	--font-normal: "Segoe UI Variable", system-ui;
	--font-semibold: "Segoe UI Variable Semibold", system-ui;
	--font-bold: "Segoe UI Variable Bold", system-ui;
	--font-semilight: "Segoe UI Variable Semilight", system-ui;
	--font-light: "Segoe UI Variable Light", system-ui;
	--font-icon: "Segoe Fluent Icons", "Segoe MDL2 Assets";

	--key-animation: cubic-bezier(0.3, 0.8, 0, 1);
	--key-animation-game: cubic-bezier(0, 0.8, 0, 1);
	--key-animation-smoothIn: cubic-bezier(1, 0, 0.8, 0.3);
	--key-animation-activity: cubic-bezier(0.75, 0, 0, 1);

	--animation: 0.4s var(--key-animation);
	--animation-game: 0.75s var(--key-animation-game);
	--animation-smoothIn: 0.25s var(--key-animation-smoothIn);
	--animation-activity: 0.35s var(--key-animation-activity);

	--accent: #e12812;
	--accent-lighter: var(--accent-light-1);
	--accent-darker: var(--accent-dark-1);
	--accent-light-1: #ed3c20;
	--accent-light-2: #f2825d;
	--accent-light-3: #faa77d;
	--accent-dark-1: #c11f0e;
	--accent-dark-2: #991409;
	--accent-dark-3: #6b0703;
	--text-accent: white;
}

:root, [theme=light]
{
	--scrollbar-thumb: rgba(0, 0, 0, 0.447);
	--scrollbar-thumb-hover: rgba(0, 0, 0, 0.447);
	--scrollbar-thumb-active: rgba(0, 0, 0, 0.62);
	--border-main: rgba(0, 0, 0, 0.08);
	--border-dialog: rgba(0, 0, 0, 0.2);
	--border-dialog-buttons: rgba(0, 0, 0, 0.0475);
	--border-button: rgba(0, 0, 0, 0.1);
	--border-input: rgba(0, 0, 0, 0.1);
	--border-input-bottom: rgba(0, 0, 0, 0.51);
	--border-input-disabled: rgba(0, 0, 0, 0.025);
	--border-expander: rgba(0, 0, 0, 0.07);
	--border-context: rgba(0, 0, 0, 0.075);
	--shadow-button: rgba(0, 0, 0, 0.1);
	--background-page: rgba(243, 243, 243, 255);
	--background-main: rgba(249, 249, 249, 255);
	--background-dialog: rgba(255, 255, 255, 255);
	--background-input: rgba(255, 255, 255, 0.7);
	--background-input-hover: rgba(255, 255, 255, 0.25);
	--background-input-active: rgba(255, 255, 255, 0.75);
	--background-input-focus: rgba(255, 255, 255, 0.15);
	--background-input-disabled: rgba(255, 255, 255, 0.045);
	--background-slider: rgba(0, 0, 0, 0.55);
	--background-slider-thumb: #ffffff;
	--background-toggle: rgba(0, 0, 0, 0.65);
	--background-list-even: rgba(0, 0, 0, 0.02);
	--background-list-hover: rgba(0, 0, 0, 0.035);
	--background-list-active: rgba(0, 0, 0, 0.025);
	--background-field-blur: rgba(255, 255, 255);
	--background-context: rgb(249, 249, 249);
	--background-expander: rgba(255, 255, 255, 0.7);
	--background-expander-content: rgba(0, 0, 0, 0.007);
	--background-expander-arrow-hover: rgba(0, 0, 0, 0.035);
	--background-expander-arrow-active: rgba(0, 0, 0, 0.025);
	--foreground-input-active: rgba(0, 0, 0, 0.6);
	--dark: #e6e6e6;
	--darker: #eeeeee;
	--darkest: #FFFFFF;
	--darkest2: #FAFAFA;
	--darkest-blur: var(--darkest);
	--darkest-transparent: rgba(255, 255, 255, 0.7);
	--text: #000000;
	--text-placeholder: rgba(0, 0, 0, 0.7);	
	--accent-theme: var(--accent-dark-1);
	--accentindark: var(--accent);
	--accentindarker: var(--accent);
	--accentindarkest: var(--accent);
	--overlay: rgba(0, 0, 0, 0.1);
	--overlay-active: rgba(0, 0, 0, 0.2);
	--notice: red;
	--text-accentindark: var(--text-accent);
}

[theme=dark] 
{
	--scrollbar-thumb: rgba(255, 255, 255, 0.56);
	--scrollbar-thumb-hover: rgba(255, 255, 255, 0.56);
	--scrollbar-thumb-active: rgba(255, 255, 255, 0.775);
	--border-main: rgba(0, 0, 0, 0.25);
	--border-dialog: rgba(255, 255, 255, 0.075);
	--border-dialog-buttons: rgba(0, 0, 0, 0.25);
	--border-button: #303030;
	--border-input: #303030;
	--border-input-bottom: rgba(255, 255, 255, 0.51);
	--border-input-disabled: rgba(255, 255, 255, 0.025);
	--border-expander: rgba(0, 0, 0, 0.3);
	--border-context: rgba(255, 255, 255, 0.075);
	--shadow-button: rgba(0, 0, 0, 0.1);
	--background-page: rgb(32, 32, 32);
	--background-main: rgba(39, 39, 39, 255);
	--background-dialog: rgb(43, 43, 43);
	--background-input: rgba(255, 255, 255, 0.058);
	--background-input-hover: rgba(255, 255, 255, 0.083);
	--background-input-active: rgba(255, 255, 255, 0.03);
	--background-input-focus: rgba(0, 0, 0, 0.15);
	--background-input-disabled: rgba(255, 255, 255, 0.045);
	--background-slider: rgba(255, 255, 255, 0.55);
	--background-slider-thumb: #454545;
	--background-toggle: rgba(255, 255, 255, 0.75);
	--background-list-even: rgba(255, 255, 255, 0.025);
	--background-list-hover: rgba(255, 255, 255, 0.083);
	--background-list-active: rgba(255, 255, 255, 0.03);
	--background-field-blur: rgba(30, 30, 30);
	--background-context: rgb(44, 44, 44);
	--background-expander: rgba(255, 255, 255, 0.05);
	--background-expander-content: rgba(255, 255, 255, 0.03);
	--background-expander-arrow-hover: rgba(255, 255, 255, 0.06);
	--background-expander-arrow-active: rgba(255, 255, 255, 0.04);
	--foreground-input-active: rgba(255, 255, 255, 0.6);
	--dark: #2b2b2b;
	--darker: #1a1a1a;
	--darkest: black;
	--darkest2: #252525;
	--darkest-blur: var(--darkest);
	--darkest-transparent: rgba(0, 0, 0, 0.7);
	--text: white;
	--text-placeholder: rgba(255, 255, 255, 0.7);
	--accent-theme: var(--accent-light-2);
	--accentindark: var(--dark);
	--accentindarker: var(--darker);
	--accentindarkest: var(--darkest);
	--overlay: rgba(255, 255, 255, 0.1);
	--overlay-active: rgba(255, 255, 255, 0.2);
	--notice: yellow;
	--text-accentindark: white;
}

[blurs=on], [blurs=on][theme=light] 
{
	--blur-filter: blur(10px);
	--blur-shadow: 0 10px 30px -10px rgba(0,0,0,0.35);
	--darkest-blur: var(--darkest-transparent);
	--background-field-blur: rgba(255, 255, 255, 0.9);
	--background-context: rgba(249, 249, 249, 0.9);
}
[blurs=on][theme=dark] 
{
	--background-field-blur: rgba(30, 30, 30, 0.9);
	--background-context: rgba(44, 44, 44, 0.9);
}

[accent=red] {
		--accent: #e12812;
		--accent-light-1: #ed3c20;
		--accent-light-2: #f2825d;
		--accent-light-3: #faa77d;
		--accent-dark-1: #c11f0e;
		--accent-dark-2: #991409;
		--accent-dark-3: #6b0703;
		--text-accent: white;
}

[accent=yellow] {
		--accent: #ffb900;
		--accent-light-1: #ffc20d;
		--accent-light-2: #ffd52a;
		--accent-light-3: #ffe845;
		--accent-dark-1: #e19d00;
		--accent-dark-2: #9b5d00;
		--accent-dark-3: #5c2100;
		--text-accent: black;
}

[accent=green] {
		--accent: #14870c;
		--accent-light-1: #1dae0f;
		--accent-light-2: #5aee3d;
		--accent-light-3: #90f376;
		--accent-dark-1: #106f09;
		--accent-dark-2: #0a5106;
		--accent-dark-3: #042e02;
		--text-accent: white;
}

[accent=blue] {
		--accent: #2d78d6;
		--accent-light-1: #3091e2;
		--accent-light-2: #5fafef;
		--accent-light-3: #91c5f0;
		--accent-dark-1: #1f5aa2;
		--accent-dark-2: #123d70;
		--accent-dark-3: #0b2f56;
		--text-accent: white;
}

[accent=purple] {
		--accent: #881798;
		--accent-light-1: #ab1dbe;
		--accent-light-2: #d95be6;
		--accent-light-3: #efacf2;
		--accent-dark-1: #7b148b;
		--accent-dark-2: #5b0c6d;
		--accent-dark-3: #3f0451;
		--text-accent: white;
}

body
{
	overflow: hidden;
}

ad-title, ad-manifest, ad-dialog 
{
	display: none;
}
.ad-app 
{
	display: block;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.titlebar 
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 32px;
	-webkit-app-region: drag;
	z-index: 100;
	padding: 0 10px;
	display: flex;    
	align-items: center;
	font-family: var(--font-normal);
	transition: var(--animation);
	pointer-events: none;
	background: var(--background-context);
	color: var(--text);
	-webkit-backdrop-filter: var(--blur-filter);
	backdrop-filter: var(--blur-filter);
}
.titlebar.fullscreen
{
	transform: translateY(-100%);
}
.titlebar.fullscreen.snippet
{
	transform: translateY(0);
}
	.titlebar .icon 
	{
		width: 16px;
		height: 16px;
		pointer-events: none;    
		margin: 0 12px 0 0;
	}
	.titlebar .name 
	{
		font-size: 12px;
		pointer-events: none;
	}
		.titlebar .name span 
		{
			margin: 8px;
			opacity: 0.6;
		}
	.titlebar .buttons
	{
		display: flex;
		align-items: center;
		margin-left: 12px;    
		gap: 6px;    
	}
		.titlebar .buttons button
		{
			pointer-events: all;
			font-family: var(--font-icon);
			width: 32px;
			height: 32px;
			font-size: 16px;
			min-width: 0;
			-webkit-app-region: no-drag;
		}
		.titlebar .buttons button:not(:hover, :active)
		{
			background: transparent;
			border: 1px solid transparent;
			box-shadow: none;
		}
	.titlebar .actions
	{
		position: absolute;
		top: 0;
		right: 0;
		display: flex;    
		transition: var(--animation);
	}
	.titlebar.expanded .actions
	{
		transform: translateX(-40px);
	}
		.titlebar .actions div
		{
			pointer-events: all;
			-webkit-app-region: no-drag;
			width: 46px;
			height: 32px;
			line-height: 1;
			font-size: 13px;
			-webkit-font-smoothing: subpixel-antialiased;
			transition: 0.2s;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: var(--font-icon);
		}
		.titlebar .actions div:hover
		{
			background: var(--background-list-hover);
		}
		.titlebar .actions div:active
		{
			background: var(--background-list-active);
			color: var(--foreground-input-active);
		}
			.titlebar .actions .minimize:after
			{
				content: "\e921";
				font-size: 11.75px;
			}
			.titlebar .actions .maximize:after
			{
				content: "\e922";
				font-size: 11.75px;
			}
			.titlebar .actions .restoredown:after
			{
				content: "\e923";
				font-size: 11.75px;
			}
			.titlebar .actions .fullscreen:after
			{
				content: "\e740";
			}
			.titlebar .actions .exitfullscreen:after
			{
				content: "\e73f";
			}
			.titlebar .actions .close:after
			{
				content: "\e711";
			}
		.titlebar .actions .close 
		{
			background: transparent;
		}
			.titlebar .actions .close:hover 
			{
				background: #c42b1c;
				color: white;
			}
			.titlebar .actions .close:active 
			{
				background: #c83c31;
				color: #e39d98;
			}

.root
{
	position: absolute;
	top: 32px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	transform: translate(0);
}
[fullscreen="true"] .root
{
	top: 0;
}
.progressbar {
		position: absolute;
		width: 100%;
		height: 3px;
		z-index: 5;
		top: 0;
		left: 0;
		display: none;
		overflow: hidden;
		pointer-events: none;
		border-radius: 3px;
}

		.progressbar::before {
				content: "";
				position: absolute;
				left: 0;
				width: 40%;
				height: 100%;
				border-radius: 3px;
				background: var(--accent-theme);
				animation: progressbaranimation1 2.35s cubic-bezier(0.5, 0.25, 1, 1) infinite;
		}

		.progressbar::after {
				content: "";
				position: absolute;
				left: 0;
				width: 70%;
				height: 100%;
				border-radius: 3px;
				background: var(--accent-theme);
				animation: progressbaranimation2 2.35s cubic-bezier(0.1, 0, 0.35, 1) infinite;
		}

@keyframes progressbaranimation1 {
		0% {
				opacity: 1;
				transform: translateX(-100%);
		}

		45% {
				opacity: 1;
				transform: translateX(260%);
		}

		46% {
				opacity: 0;
				transform: translateX(260%);
		}

		100% {
				opacity: 0;
				transform: translateX(-100%);
		}
}

@keyframes progressbaranimation2 {
		0% {
				opacity: 1;
				transform: translateX(-100%);
		}

		45% {
				opacity: 1;
				transform: translateX(-100%);
		}

		93% {
				opacity: 1;
				transform: translateX(145%);
		}

		94% {
				opacity: 0;
				transform: translateX(145%);
		}

		100% {
				opacity: 0;
				transform: translateX(-100%);
		}
}
.progressbar.show, .progressring.show
{
	display: block;
}

.hidden
{
	display: none;
}