@font-face 
{
	font-family: "pixelFJ8pt1"; 
	src: url("/games/jumping-jamping/assets/font/pixelFJ8pt1.woff2") format("woff2"), url("/games/jumping-jamping/assets/font/pixelFJ8pt1.ttf") format("truetype");
}
@font-face 
{
	font-family: "digital-7"; 
	src: url("/games/jumping-jamping/assets/font/digital-7.ttf") format("truetype");
}
.main
{
	display: block;
	color: white;
	font-family: pixelFJ8pt1, var(--font-bold);
	font-weight: bold;
}
	.main>section
	{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		display: none;
		background: #202d31;
	}
	.main>section.opened
	{
		display: block;
	}

.main .menu .centered
{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
}
	.menu .centered .title
	{
		font-size: 4rem;
	}
	.menu .centered .buttons
	{
		margin: 125px 0 0 0;
	}
		.menu .centered .buttons .button
		{
			background: #414141;
			font-size: 18px;
			padding: 10px;
			border: 5px outset #404040;
			display: inline-block;
			margin: 5px;
		}
		.menu .centered .buttons .button:hover
		{
			background: #353535;
			border: 5px outset #353535;
		}
		.menu .centered .buttons .button:active
		{
			background: #353535;
			border: 5px inset #353535;
		}
			.menu .centered .buttons .button#difficulty:before
			{
				content: "Difficulty:\A";
				opacity: 0.7;    
				font-weight: normal;
			}

.main .game
{
}
	.game:before
	{
		content: "";
		background-image: url("/games/jumping-jamping/assets/image/wall.jpg");
		background-size: 25px;
		width: calc(100% + 100px);
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;    
		z-index: -1;
	}
	.game:after
	{
    content: attr(score);
    display: flex;
    position: absolute;
    font-weight: normal;
    top: -10px;
    left: 22%;
    transform: translateX(-50%);
    font-family: digital-7, pixelFJ8pt1, var(--font-bold);
    font-size: 60px;
		line-height: 1.23;
    letter-spacing: 2px;
    color: var(--accent-light-1);
    text-align: center;
    background-image: url(/games/jumping-jamping/assets/image/score.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 145px;
    height: 120px;
    align-items: flex-end;
    justify-content: center;
    animation: 2s var(--key-animation) ScoreStart;
	}
	.game[difficulty="1"]:before { animation: 2s linear Wall infinite	}
	.game[difficulty="2"]:before { animation: 1.75s linear Wall infinite	}
	.game[difficulty="3"]:before { animation: 1s linear Wall infinite	}
	.game[difficulty="4"]:before { animation: 0.75s linear Wall infinite	}
	.game[difficulty="5"]:before { animation: 0.5s linear Wall infinite	}
	.game[difficulty="6"]:before { animation: 0.25s linear Wall infinite	}
	.game.dead:before
	{
  	animation-play-state: paused;
	}
	.game .jumper
	{
		--position: calc(50vh - 50%);
    width: 40px;
    height: 50px;
    position: fixed;
    top: 0;
    left: calc(50vw - 20px);
    transition: var(--animation) transform;
		transform: translateY(var(--position));
	}
	.game.opened .jumper
	{
		animation: 1.25s var(--key-animation) JumperStart;
	}
	.game .jumper.fall
	{
		transition: 0.75s cubic-bezier(0.75, 0, 1, 1) transform;
		transform: translateY(calc(100vh + var(--position)));
	}
  .game .jumper.fall #fire
	{
    opacity: 0;
  }
  .game .pillars
	{
  	position:	fixed;
    top: 0;
    left:	0;
    transform: translateX(100vw);
  }
  .game[difficulty="1"] .pillars{ transition: 4s linear }
  .game[difficulty="2"] .pillars{ transition: 3.5s linear }
  .game[difficulty="3"] .pillars{ transition: 3s linear }
  .game[difficulty="4"] .pillars{ transition: 2s linear }
  .game[difficulty="5"] .pillars{ transition: 1.5s linear }
  .game[difficulty="6"] .pillars{ transition: 1s linear }
	  .game .pillars .pillar
		{
	  	width: 75px;
	    height: 100vh;
	    position: absolute;
	    top: 0;
	    left: 0;
	  }
		  .game .pillars .pillar .up
			{        
		    width: 100%;
		    height: 100%;
		    background-repeat: no-repeat, repeat;
		    background-size: 100% 97%, 15px;
		    background-image:linear-gradient(#395057,#4e5f65), url(https://1.bp.blogspot.com/-PhOEaKM1L3E/X8TDBchgvyI/AAAAAAAAxJA/Z6IW1EYLsr0zo5LeB9dKspId0AAuD2wcQCLcBGAsYHQ/s320/lantai.png);
		    border: 3px solid #4a5b61;
		    position: absolute;
		    top: -65vh;
		  }
		  .game .pillars .pillar .down
			{
		    width: 100%;
		    height: 100%;
		    background-repeat: no-repeat, repeat;
		    background-size: 100% 97%, 15px;
		    background-position:bottom;
		    background-image:linear-gradient(#395057,#4e5f65), url(https://1.bp.blogspot.com/-PhOEaKM1L3E/X8TDBchgvyI/AAAAAAAAxJA/Z6IW1EYLsr0zo5LeB9dKspId0AAuD2wcQCLcBGAsYHQ/s320/lantai.png);
		    border: 3px solid #4a5b61;
		    position: absolute;
		    top: 65vh;
		  }
		  .game[difficulty="2"] .pillar .up, .game[difficulty="1"] .pillar .up{ top: -70vh }
		  .game[difficulty="2"] .pillar .down, .game[difficulty="1"] .pillar .down{ top: 70vh }
		  .game[difficulty="4"] .pillar .up, .game[difficulty="5"] .pillar .up{ top: -60vh }
		  .game[difficulty="4"] .pillar .down, .game[difficulty="5"] .pillar .down{ top: 60vh }
		  .game[difficulty="6"] .pillar .up{ top: -55vh }
		  .game[difficulty="6"] .pillar .down{ top: 55vh }

@keyframes Wall
{
	from 
	{
		transform: translateX(0px);
	}
	to
	{
		transform: translateX(-100px);
	}
}
@keyframes JumperStart
{
	0%
	{
		animation-timing-function: cubic-bezier(0.75, 0, 1, 1);
		transform: translateY(100vh) scale(10);
	}
	1%
	{
		transform: translateY(100vh) scale(10);
	}
	50%
	{
		animation-timing-function: linear;
		transform: translateY(calc(65vh)) scale(8);
	}
	60%
	{
		animation-timing-function: var(--key-animation);
		transform: translateY(calc(85vh));
	}
	90%
	{
		transform: translateY(var(--position));
	}
}
@keyframes ScoreStart
{
	0%
	{
    transform: translate(-50%, -100%);
	}
	75%
	{
    transform: translate(-50%, -100%);
	}
}

.main .end
{
	background: black;
	animation: 1s ease-in-out End;
}
	.end:before
	{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;    
		z-index: -1;
		opacity: 0;
    background-repeat: no-repeat;
    background-position: center 85%;
    background-size: 1200px 160px, 100%;
    background-image: radial-gradient(var(--accent-dark-2), black 70%), linear-gradient(black, black);
    animation: 2s cubic-bezier(0.39, 0.58, 0.57, 1) End_Glow alternate infinite 1.5s;
	}
	.end .centered
	{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		animation: 2s ease-in-out End_Content;
		letter-spacing: 1px;
	}
		.end .centered .title
		{
			font-size: 4rem; 
			color: var(--accent);
		}
		.end .centered .desc
		{
	    font-size: 23px;
	    text-align: center;
	    width: 100%;    
			margin: 7px;
		}
			.end .centered .desc .score
			{
		    font-size: 17px;
		    margin: 7px 0;
		    opacity: 0.8;
			}
		.end .centered .buttons
		{
			margin: 125px 0 0 0;
		}
			.end .centered .buttons .button
			{
				background: #414141;
				font-size: 18px;
				padding: 10px;
				border: 5px outset #404040;
				display: inline-block;
				margin: 5px;
			}
			.end .centered .buttons .button:hover
			{
				background: #353535;
				border: 5px outset #353535;
			}
			.end .centered .buttons .button:active
			{
				background: #353535;
				border: 5px inset #353535;
			}
	@keyframes End
	{
		from { opacity: 0 }
	}
	@keyframes End_Glow
	{
		to { opacity: 1 }
	}
	@keyframes End_Content
	{
		0% { opacity: 0; pointer-events: none; }
		50% { opacity: 0; pointer-events: none; }
		100% { opacity: 1 }
	}
.main .transition
{
	display: block !important;	
	background: transparent !important;
	pointer-events: none;
}
	.transition .garage
	{
		position: relative;
		background: url("/games/jumping-jamping/assets/image/garage.png");
		background-size: 40px;
		height: 50%;
		transition: 0.5s var(--key-animation) transform;
		transform: translateY(calc(-100% * var(--reverse)));
	}
	.transition.opened .garage
	{
		transform: none;
	}
	.transition .garage.up 
	{
		--reverse: 1;
		background-position: bottom;
	}
	.transition .garage.down 
	{
		--reverse: -1;
		background-position: top;
	}
		.transition .garage:after
		{
			content: "";
			position: absolute;
			display: block;
			width: 100%;
			height: 38px;
			background: url("/games/jumping-jamping/assets/image/garage_hand.png");
			background-repeat: no-repeat;
			background-size: 25px;
			background-position: center;
			background-color: #677a7a;
			border-top: 3.25px solid #4b5959;
			border-bottom: 2px solid #4b5959;
			filter: brightness(0.75);
		}
		.transition .garage.up:after
		{
			bottom: 0;
		}
		.transition .garage.down:after
		{
			top: 0;
			transform: rotate(180deg);
		}